<!DOCTYPE html>
<html>

<head>
    <title>Note Node.js Test App</title>
</head>

<body>
    <h1>Note Node.js Test App</h1>
    <p>Welcome to Note Node.js Test App</p>
    <p>This represents a straightforward notes application, featuring a basic Node.js setup that includes simple CRUD
        operations and user registration and login capabilities.</p>
</body>

</html>